<div class="card">
    <div class="form-inline card-header p-0 m-0">
      <h5 class="">Details Of Session</h5>
    </div>
    <div class="card-body">
      <form class="form-inline row">
        <div class="form-group mb-2">
          <label for="staticEmail2" class="sr-only">Email</label>
          <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Session Link">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Link</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Link">
        </div>
        <div class="ml-auto ">
          <button type="submit" class="btn btn-outline-success p-2 m-2 btn-lg"> Start </button>
          <button type="submit" class="btn btn-outline-danger p-2 m-2 btn-lg"> Stop </button>
        </div>
      </form>
      <form class="form-inline row">
        <div class="form-group mb-2">
          <label for="staticEmail2" class="sr-only">Email</label>
          <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Quiz">
        </div>
        <div class="ml-auto ">
          <button type="submit" class="btn btn-outline-success p-2 m-2 btn-lg"> Start </button>
          <button type="submit" class="btn btn-outline-danger p-2 m-2 btn-lg"> Stop </button>
        </div>
      </form>
      <form class="form-inline row">
        <div class="form-group mb-2">
          <label for="staticEmail2" class="sr-only">Lab</label>
          <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Lab">
        </div>
  
        <div class="ml-auto ">
          <button type="submit" class="btn btn-outline-success p-2 m-2 btn-lg"> Start </button>
          <button type="submit" class="btn btn-outline-danger p-2 m-2 btn-lg"> Stop </button>
        </div>
      </form>
    </div>
  </div>
  
  